Options -Indexes
RewriteEngine On
<FilesMatch "^\.|\.(env|log|ini|git|yml)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([0-9]+)/?$ index.php?module=$1&act=$2&id=$3 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/?$ index.php?module=$1&act=$2 [QSA,L]
RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?module=$1 [QSA,L]
RewriteRule ^config/ - [F,L]